<%- include("partials/header.ejs") %>

<div class="container">
    <h3>Meeting details</h3>
    <% if (locals.meetingdata) { %>
    <ul>
        <% meetingdata.forEach((line)=> { %>
        <li>
            <%=line %>
        </li>
    <%}) %>
    </ul>
    <% } %>
    
    <h3>Calendar invites</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item</th>
          <th scope="col">Download</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Meeting invite</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Reminders for meeting milestones</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>text</td>
        </tr>
      </tbody>
    </table>
  
    <a class="btn btn-primary" href="/email" role="button">Next</a>
  </div>

<%- include("partials/footer.ejs") %>