<%- include("partials/header.ejs") %>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">You're done!</h1><br><br><br>
        <!-- <p class="lead">How was your experience today?</p> -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/" class="btn btn-primary btn-lg px-4 me-md-2">Go back to homepage</a>
          <a href="/meetingdetails" class="btn btn-warning btn-lg px-4 me-md-2">Fill in for another meeting</a>
        </div>


      </div>
    </div>
  </div>

</div>

<%- include("partials/footer.ejs") %>