<%- include("partials/header.ejs") %>


<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="public/images/cover.jpg" class="d-block mx-lg-auto img-fluid" alt="Picture of laptop" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Meeting secretariat? Let us do the work for you.</h1>
        <p class="lead">Generate calendar invites, reminders for meeting milestones, and email templates for your meeting, all in a few clicks.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/meetingdetails" class="btn btn-primary btn-lg px-4 me-md-2">Get started</a>
          <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Features</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Feature 1</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Feature 2</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Feature 3</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        </div>
      </div>
      
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto d-flex justify-content-center">
          <p><img src="..." class="card-img-bottom" alt="..."></p>
          <p>
            <a href="/meetingdetails" class="btn btn-primary my-2">Get started</a>
          </p>
        </div>

      </div>

    </div>
  </div>

  <%- include("partials/footer.ejs") %>