<%- include("partials/header.ejs") %>


<div class="container col-xxl-12">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-12 col-sm-12 col-lg-8">
        <img src="/images/cover2.png" class="d-block mx-lg-auto img-fluid" alt="Picture of laptop" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-4">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Meeting secretariat? Let us do the work for you.</h1>
        <p class="lead">Generate calendar invites, reminders for meeting milestones, and email templates for your meeting, all in a few clicks.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/meetingdetails" class="btn btn-primary btn-lg px-4 me-md-2">Get started</a>
          <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="container px-4 pt-5 bg-warning-subtle" id="hanging-icons">
    <h2 class="fs-1 fw-bold text-body-emphasis pb-2 border-bottom text-center">How it works</h2>
    <div class="row g-4 pt-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <img src="/images/number-1.png" class="bi" width="40" height="40">
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Fill in your meeting details</h3>
          <p>Enter the title, date, time and venue of your meeting. <br><br>You can use the default timeline settings for tasks like calling for agenda items and circulating materials, or customise these to your liking. <br><br> You're the <del>boss</del> super staffer!</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <img src="/images/number-2.png" class="bi" width="40" height="40">
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">See when you should prepare for the meeting</h3>
          <p>Get a timeline of when you should start on each of the tasks, and when you should aim to complete them. <br><br> Download calendar reminders that will help you keep track of the dates.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <img src="/images/number-3.png" class="bi" width="40" height="40">
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Get templates for your emails</h3>
          <p>You can download the calendar invite for the meeting, and email submissions that have been populated based on your meeting details. </p>
        </div>
      </div>
            <div class="container py-lg-5">
        <div class="row justify-content-center">
          <a href="/meetingdetails" class="btn btn-primary my-2">Get started</a>
        </div></div></div>
  </div>
  <%- include("partials/footer.ejs") %>