<%- include("partials/header.ejs") %>


<div class="container">
    <h3>1) Meeting details</h3>
    <form action="/calendar" method="post">
    <div class="mb-3">
        <label for="meetingTitle" class="form-label">Meeting title</label>
        <input type="text" class="form-control" id="meetingTitle" name="meetingTitle" placeholder="Meeting title">
    </div>
    <div class="mb-3">
        <label for="meetingDate" class="form-label">Date</label>
        <input type="date" class="form-control" id="meetingDate" name="meetingDate" placeholder="Meeting date">
        <div class="dropdown-menu d-block position-static p-2 mx-0 shadow rounded-3 w-340px" data-bs-theme="light">
            <div class="d-grid gap-1">
              <div class="cal">
                <div class="cal-month">
                  <button class="btn cal-btn" type="button">
                    <svg class="bi" width="16" height="16"><use xlink:href="#arrow-left-short"></use></svg>
                  </button>
                  <strong class="cal-month-name">June</strong>
                  <select class="form-select cal-month-name d-none">
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option selected="" value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                  </select>
                  <button class="btn cal-btn" type="button">
                    <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-short"></use></svg>
                  </button>
                </div>
                <div class="cal-weekdays text-body-secondary">
                  <div class="cal-weekday">Sun</div>
                  <div class="cal-weekday">Mon</div>
                  <div class="cal-weekday">Tue</div>
                  <div class="cal-weekday">Wed</div>
                  <div class="cal-weekday">Thu</div>
                  <div class="cal-weekday">Fri</div>
                  <div class="cal-weekday">Sat</div>
                </div>
                <div class="cal-days">
                  <button class="btn cal-btn" disabled="" type="button">30</button>
                  <button class="btn cal-btn" disabled="" type="button">31</button>
        
                  <button class="btn cal-btn" type="button">1</button>
                  <button class="btn cal-btn" type="button">2</button>
                  <button class="btn cal-btn" type="button">3</button>
                  <button class="btn cal-btn" type="button">4</button>
                  <button class="btn cal-btn" type="button">5</button>
                  <button class="btn cal-btn" type="button">6</button>
                  <button class="btn cal-btn" type="button">7</button>
        
                  <button class="btn cal-btn" type="button">8</button>
                  <button class="btn cal-btn" type="button">9</button>
                  <button class="btn cal-btn" type="button">10</button>
                  <button class="btn cal-btn" type="button">11</button>
                  <button class="btn cal-btn" type="button">12</button>
                  <button class="btn cal-btn" type="button">13</button>
                  <button class="btn cal-btn" type="button">14</button>
        
                  <button class="btn cal-btn" type="button">15</button>
                  <button class="btn cal-btn" type="button">16</button>
                  <button class="btn cal-btn" type="button">17</button>
                  <button class="btn cal-btn" type="button">18</button>
                  <button class="btn cal-btn" type="button">19</button>
                  <button class="btn cal-btn" type="button">20</button>
                  <button class="btn cal-btn" type="button">21</button>
        
                  <button class="btn cal-btn" type="button">22</button>
                  <button class="btn cal-btn" type="button">23</button>
                  <button class="btn cal-btn" type="button">24</button>
                  <button class="btn cal-btn" type="button">25</button>
                  <button class="btn cal-btn" type="button">26</button>
                  <button class="btn cal-btn" type="button">27</button>
                  <button class="btn cal-btn" type="button">28</button>
        
                  <button class="btn cal-btn" type="button">29</button>
                  <button class="btn cal-btn" type="button">30</button>
                  <button class="btn cal-btn" type="button">31</button>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="mb-3">
        <label for="meetingStartTime" class="form-label">Time</label>
    <div class="row">
        <div class="col">
          <input type="time" class="form-control" name="startTime" placeholder="Meeting start time" aria-label="Meeting start time">
        </div>
        to
        <div class="col">
          <input type="time" class="form-control" name="endTime" placeholder="Meeting end time" aria-label="Meeting end time">
        </div>
      </div></div>
    <div class="mb-3">
        <label for="meetingVenue" class="form-label">Venue</label>
        <input type="text" class="form-control" id="meetingVenue" name="meetingVenue" placeholder="Meeting venue">
    </div>
</div>

<div class="container mt-5">
    <h3>2) Timeline settings</h3>
    <div class="form-check my-3">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="defaultSetting" checked>
        <label class="form-check-label" for="flexCheckChecked">
          Use default settings?
        </label>
      </div>
    <div class="row mb-3">
        <div class="col">
               
        </div>
        <div class="col">
            Days to complete task  
        </div>
        <div class="col">
             Number of weeks before meeting to start task    
        </div>
    <div class="row my-3">
        <div class="col">
        Call for agenda    
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="Days to complete task" name="daysAgenda" aria-label="Days_call agenda" disabled>
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="# of weeks before meeting to start task" name="priorAgenda" aria-label="Advance_call agenda">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
        Seek clearance for agenda  
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="Days to complete task" name="daysClear" aria-label="First name">
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="# of weeks before meeting to start task" name="priorClear" aria-label="Last name">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
        Item owners to submit materials   
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="Days to complete task" name="daysSubmitMaterials" aria-label="First name">
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="# of weeks before meeting to start task" name="priorSubmitMaterials" aria-label="Last name">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
        Circulation of materials  
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="Days to complete task" name="daysCirculate" aria-label="First name">
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="# of weeks before meeting to start task" name="priorCirculate" aria-label="Last name">
        </div>
    </div>

    </div>
    <!-- <a class="" href="/calendar" role="button" id="submitDetails">Next</a> -->
    <input type="submit" class="btn btn-primary form-control" role="button" value="Next">
</form>
</div>

<%- include("partials/footer.ejs") %>