<%- include("partials/header.ejs") %>


<div class="container">
    <h3>1) Meeting details</h3>
    <form action="/calendar" method="post">
    <div class="mb-3">
        <label for="meetingTitle" class="form-label">Meeting title</label>
        <input type="text" class="form-control" id="meetingTitle" name="meetingTitle" placeholder="Meeting title">
    </div>
    <div class="mb-3">
        <label for="meetingDate" class="form-label">Date</label>
        <input type="date" class="form-control" id="meetingDate" name="meetingDate" placeholder="Meeting date">
    </div>
    <div class="mb-3">
        <label for="meetingStartTime" class="form-label">Time</label>
    <div class="row">
        <div class="col">
          <input type="time" class="form-control" name="startTime" placeholder="Meeting start time" aria-label="Meeting start time">
        </div>
        to
        <div class="col">
          <input type="time" class="form-control" name="endTime" placeholder="Meeting end time" aria-label="Meeting end time">
        </div>
      </div></div>
    <div class="mb-3">
        <label for="meetingVenue" class="form-label">Venue</label>
        <input type="text" class="form-control" id="meetingVenue" name="meetingVenue" placeholder="Meeting venue">
    </div>
</div>

<div class="container mt-5" id="timeline">
    <h3>2) Timeline settings</h3>
    <div class="form-check my-3">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="defaultSetting" checked>
        <label class="form-check-label" for="flexCheckChecked">
          Use default settings?
        </label>
      </div>
    <div class="row mb-3">
        <div class="col">
               
        </div>
        <div class="col">
            Days to complete task  
        </div>
        <div class="col">
             Number of weeks before meeting to start task    
        </div>
    <div class="row my-3">
        <div class="col">
        Call for agenda    
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="Days to complete task" name="daysAgenda" aria-label="Days_call agenda" disabled>
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="# of weeks before meeting to start task" name="priorAgenda" aria-label="Advance_call agenda">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
        Seek clearance for agenda  
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="Days to complete task" name="daysClear" aria-label="First name">
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="# of weeks before meeting to start task" name="priorClear" aria-label="Last name">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
        Item owners to submit materials   
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="Days to complete task" name="daysSubmitMaterials" aria-label="First name">
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="# of weeks before meeting to start task" name="priorSubmitMaterials" aria-label="Last name">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
        Circulation of materials  
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="Days to complete task" name="daysCirculate" aria-label="First name">
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="# of weeks before meeting to start task" name="priorCirculate" aria-label="Last name">
        </div>
    </div>

    </div>
    <!-- <a class="" href="/calendar" role="button" id="submitDetails">Next</a> -->
    <input type="submit" class="btn btn-primary form-control" role="button" value="Next">
</form>
</div>

<script>
  // Get the checkbox and all form fields
  const toggleCheckbox = document.querySelector('#flexCheckChecked');
  const formFields = document.querySelectorAll('#timeline input');

  // Add event listener to checkbox
  toggleCheckbox.addEventListener('click', function() {
      // Loop through all form fields and toggle their disabled state
      for (var i=0; i < input.length; i++) {
      formFields[i].toggleAttribute("disabled");
      };
  });

</script>

<%- include("partials/footer.ejs") %>